<%= link_to "Edit this Planet", edit_planet_path %>
<h2><%= @planet.name %></h2>
<img src="<%= @planet.img_url %>" alt="<% @planet.name %>" width="300px">
<p><%= @planet.bio %></p>
<p><%= @planet.climate %></p>
<p><%= @planet.terrain %></p>
<p><%= @planet.population %></p>
<p><%= @planet.gravity %></p>
<p><%= @planet.films %></p>
