<%= link_to "Create a new planet", new_homeworld_path %>

<% @planets = @planets.sort_by { |k| k[:name] }%>

<div class="index-all">
  <% @planets.each do |planet| %>
    <div class="index-box">
      <a href="<%= homeworld_path(planet) %>">
        <h3><%= planet.name %></h3>
        <img src="<%= planet.img_url %>" alt="<%= planet.name %>" class="index-img">
      </a>
    </div>
  <% end %>
</div>
