<div class="show-page">
  <%= link_to "Edit this Planet", edit_homeworld_path, { :class=>"edit-link" } %>

  <h2><%= @planet.name %></h2>
  <% if @planet.img_url != nil %>
    <img src="<%= @planet.img_url %>" alt="<% @planet.name %>" class="show-img">
  <% end %>
  <% if @planet.bio != nil %>
    <p>Bio: <%= @planet.bio %></p>
  <% else %>
    <p>Bio: little is known about <%= @planet.name %></p>
  <% end %>
  <p>Climate: <%= @planet.climate %></p>
  <p>Terrain: <%= @planet.terrain %></p>
  <p>Population: <%= @planet.population %></p>
  <p>Gravity: <%= @planet.gravity %></p>

  <% if @planet.species[0] != nil %>
    <p>Inhabiting Species</p>
      <ul class="show-page-list">
      <% @planet.species.each do |critter| %>
        <div class="index-box">
          <a href="<%= species_path(critter) %>">
            <li><%= critter.name %></li>
            <img src="<%= critter.img_url %>" alt="<%= critter.name %>" class="character-show-img">
          </a>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p>Inhabiting Species: None</p>
  <% end %>

  <% if @planet.characters[0] != nil %>
    <p>Notable <%= @planet.name %> Inhabitants:</p>
    <ul class="show-page-list">
      <% @planet.characters.each do |character| %>
      <div class="index-box">
        <a href="<%= character_path(character) %>">
          <li><%= character.name %></li>
          <img src="<%= character.img_url %>" alt="<%= character.name %>" class="character-show-img">
        </a>
      </div>
      <% end %>
    </ul>
  <% else %>
    <p>Notable <%= @planet.name %> Inhabitants: None</p>
  <% end %>

  <% if @films %>
    <% @films.sort! %>
    <ul class="films">
    <li class="film">Films:</li>
      <% @films.each_with_index do |film, i| %>
        <li class="film">
          <% url_id = film[film.length-2].to_i %>
          <% if url_id <= 3 %>
            <% url_id = url_id + 3 %>
          <% elsif url_id <=6 %>
            <% url_id = url_id - 3 %>
          <% end %>
          Episode <%= url_id %>
          <% if i < (@films.length - 1) %> ,
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div
