<%= link_to "Edit this Planet", edit_homeworld_path %>
<h2><%= @planet.name %></h2>
<img src="<%= @planet.img_url %>" alt="<% @planet.name %>" width="300px">
<p>Bio: <%= @planet.bio %></p>
<p>Climate: <%= @planet.climate %></p>
<p>Terrain: <%= @planet.terrain %></p>
<p>Population: <%= @planet.population %></p>
<p>Gravity: <%= @planet.gravity %></p>
<p>Films: <%= @planet.films %></p>
