<div class="show-page">
  <%= link_to "Edit this Character", edit_character_path, { :class=>"edit-link" } %>

  <h2><%= @character.name %></h2>

  <% if @character.img_url != nil %>
    <img src="<%= @character.img_url %>" alt="<%= @character.name %>" class="show-img">
  <% end %>
  <p>Alliance: <a href="<%= alliance_path(@character.alliance) %>"><%= @character.alliance.name %></a></p>

<div class="show-page-info">
  <% if @character.bio != "" %>
    <p>Bio: <%= @character.bio %></p>
  <% else %>
    <p>Bio: little is known about <%= @character.name %></p>
  <% end %>

  <% if @character.classification != "" %>
    <p>Class: <%= @character.classification %></p>
    <% else %>
      <p>Class: unknown</p>
  <% end %>

  <% if @character.vehicles[0] != nil%>
    <p>Vehicles driven:</p>
    <ul class="show-page-list">
      <% @character.vehicles.each_with_index do |vehicle, i| %>
      <div class="index-box">
        <a href="<%= vehicle_path(vehicle) %>">
          <li><%= vehicle.name %></li>
          <img src="<%= vehicle.img_url %>" alt="<%= vehicle.name %>" class="character-show-img">
        </a>
      </div>
      <% end %>
    </ul>
    <% else %>
    <p>Vehicles driver: none</p>
  <% end %>

  <p>Species: <a href="<%= species_path(@character.species) %>"> <%= @character.species.name %></a></p>
  <p>Birth_year: <%= @character.birth_year %></p>
  <p>Homeworld: <a href="<%= homeworld_path(@character.homeworld) %>"><%= @character.homeworld.name %></a></p>

  <% if @character.height != nil && @character.height != 0 %>
    <p>Height:
      <%= ((@character.height*0.39).round / 12).floor %> Ft,
      <%= (@character.height*0.39).round % 12 %> In
    </p>
    <% else %>
      <p>Height: unknown</p>
    <% end %>

  <% if @character.mass != nil && @character.mass != 0 %>
    <p>Mass:
      <%= (@character.mass*2.2).round %> Pounds
    </p>
    <% else %>
      <p>Mass: unknown</p>
    <% end %>

    <% if @films %>
      <% @films.sort! %>
      <ul class="films">
      <li class="film">Films:</li>
        <% @films.each_with_index do |film, i| %>
          <li class="film">
            <% url_id = film[film.length-2].to_i %>
            <% if url_id <= 3 %>
              <% url_id = url_id + 3 %>
            <% elsif url_id <=6 %>
              <% url_id = url_id - 3 %>
            <% end %>
            Episode <%= url_id %>
            <% if i < (@films.length - 1) %> ,
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
