<h2><%= @character.name %></h2>


<% if @character.img_url != nil %>
  <img src="<%= @character.img_url %>" alt="<%= @character.name %>" width="300px">
<% end %>

<p>Alliance: <a href="<%= alliance_path(@character.alliance) %>"><%= @character.alliance.name %></a></p>

<% if @character.bio != "" %>
  <p>bio: <%= @character.bio %></p>
<% else %>
  <p>bio: little is known about <%= @character.name %></p>
<% end %>

<% if @character.classification != "" %>
  <p>class: <%= @character.classification %></p>
  <% else %>
    <p>class: unknown</p>
<% end %>

<% if @character.vehicles[0] != nil %>
  <p>vehicles: <%= @character.vehicles[0].name %></p>
<% end %>

<p>species: <a href="<%= species_path(@character.species) %>"> <%= @character.species.name %></a></p>
<p>birth_year: <%= @character.birth_year %></p>
<p>homeworld: <a href="<%= homeworld_path(@character.homeworld) %>"><%= @character.homeworld.name %></a></p>

<% if @character.height != nil && @character.height != 0 %>
  <p>height:
    <%= ((@character.height*0.39).round / 12).floor %> Ft,
    <%= (@character.height*0.39).round % 12 %> In
  </p>
  <% else %>
    <p>height: unknown</p>
  <% end %>
<p>mass: <%= @character.mass %></p>

<p>films: <%= @character.films %></p>
<%= link_to "Edit this Character", edit_character_path %>
