<h2><%= @character.name %></h2>
<p>alliance: <%= @character.alliance.name %></p>
<p>species: <%= @character.species %></p>
<p>class: <%= @character.classification %></p>
<p>birth_year: <%= @character.birth_year %></p>
<p>homeworld: <%= @character.homeworld.name %></p>
<p>vehicles: <%= @character.vehicles %></p>
<p>height: <%= @character.height %></p>
<p>mass: <%= @character.mass %></p>
<%= link_to "Edit this Character", edit_character_path %>
