<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Star Wars</h1>
    <h2>
      <a href="<%= alliances_path %>">Alliances</a> |
      <a href="<%= characters_path %>">Characters</a> |
      <a href="<%= planets_path %>">Planets</a>
    </h2>
    <%= yield %>
  </body>
</html>
