<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top">
      <h1 class="main-heading">Star Wars</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h2 class="sub-headings">
        <a class="sub-heading" href="<%= alliances_path %>">Alliances</a>
        <a class="sub-heading" href="<%= characters_path %>">Characters</a>
        <a class="sub-heading" href="<%= homeworlds_path %>">Planets</a>
        <a class="sub-heading" href="<%= species_index_path %>">Species</a>
        <a class="sub-heading" href="<%= vehicles_path %>">Transports</a>
      </h2>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
