<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>

  <body>
    <header class="top">
      <h1 class="main-heading">Star Wars</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="sub-headings">
        <h2 class="sub-heading"><a href="<%= alliances_path %>">Alliances</a></h2>
        <h2 class="sub-heading"><a href="<%= characters_path %>">Characters</a></h2>
        <h2 class="sub-heading"><a href="<%= homeworlds_path %>">Planets</a></h2>
        <h2 class="sub-heading"><a href="<%= species_index_path %>">Species</a></h2>
        <h2 class="sub-heading"><a href="<%= vehicles_path %>">Transports</a></h2>
      </div>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
